#circle {
	height: 200px;
	width: 200px;
	border: 5px solid red;
	border-radius: 100%;
	margin: 20px; 0px; 0px; 20px;
	position: absolute;
}


#square {
	height: 200px;
	width: 200px;
	border: 5px solid blue;
	margin: 20px 0px 0px 300px;
	position: absolute;
}

#triangle {
	height: 20px;
	width: 20px;
	border-top: 25px solid red;
	border-left: 25px solid yellow;
	border-right: 25px	solid blue;
	border-bottom: 25px solid purple;
	position: absolute;	
	margin: 200px 10px 10px 10px;
}
